@model eays.Models.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/user.min.css" asp-append-version="true" />
</head>

<body class="auth-body bg-blue">
    <div class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 80px);">
        <div class="login-card">
    <div class="register-card">
        <div class="welcome">Create your account</div>
        <div class="title">Register</div>

        <form asp-action="Register" method="post">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="FullName" class="form-label">Full Name</label>
                <input asp-for="FullName" class="form-control" placeholder="John Doe" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="test@gmail.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="********" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="********" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

                   <div class="mb-3">
                        <label asp-for="Address" class="form-label">Address</label>
                        <input asp-for="Address" class="form-control" placeholder="Enter your address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

            <button type="submit" class="btn-register">REGISTER ?</button>

            <div class="signin">
                Already have an account ?
                <a href="/Account/Login">Sign in</a>
            </div>
        </form>
    </div>
    </div>
    </div>
</body>
</html>