@model int

<h2 class="text-success">Order Placed Successfully 🎉</h2>

<p>Order ID: #@Model</p>

<a asp-controller="Order"
   asp-action="DownloadInvoice"
   asp-route-orderId="@Model"
   class="btn btn-success">
    Download Invoice
</a>